@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&display=swap");
/* RESETS */
* {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* VARIABLES */
:root {
  /* COLOR VARIABLES */
  --darkpurple: hsl(328, 78%, 9%);
  --lightpurple: hsl(300, 24%, 96%);
  --white: #fff;
  --pink-color: hsl(333, 80%, 67%);
}
/* GENERAL STYLES */
body {
  font-family: "kumbh sans", sans-serif;
  font-family: "League Spartan", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
header {
  text-align: center;
  margin: 50px auto;
}
.box img {
  border-radius: 50%;
  width: 45px;
  float: left;
  margin-right: 20px;
}
.sub-header img {
  margin-top: 5px;
  margin-bottom: 10px;
}
.avatar div {
  line-height: 25px;
}
.avatar {
  margin-bottom: 20px;
}
main {
  animation: slide-top 1s ease-in;
  transition: all 1s ease-in;
  -webkit-animation: slide-top 1s ease-in;
  -webkit-transition: all 1s ease-in;
}
/* .sub-header {
  animation: grow 1s ease;
  transition: all 1s ease;
  -webkit-animation: grow 1s ease;
  -webkit-transition: all 1s ease;
} */

/* DETAILED STYLES */
/* .main-header__one span {
  animation: grow 1s ease;
  transition: all 1s ease;
  -webkit-animation: grow 1s ease;
  -webkit-transition: all 1s ease;
} */
.main-header__one {
  color: var(--darkpurple);
  font-size: 2.1rem;
  font-weight: 700;
  padding: 10px;
  margin: 0 auto;
  max-width: 300px;
}
.main-header__one span {
  font-size: 3rem;
}
.main-header {
  margin-bottom: 30px;
}
.main-header__two {
  padding: 30px;
  margin: 0px auto;
}
.sub-header1,
.sub-header2,
.sub-header3 {
  background-color: rgba(238, 104, 164, 0.117);
  /* height: 60px; */
  width: 85%;
  margin: 15px auto;
  padding: 12px;
  border-radius: 8px;
  color: var(--darkpurple);
  font-weight: 700;
}
.box {
  background-color: var(--darkpurple);
  width: 85%;
  padding: 25px;
  color: var(--white);
  border-radius: 8px;
  margin: 15px auto;
  line-height: 28px;
}
.main-box3 {
  margin-bottom: 90px;
}
.buyer {
  color: var(--pink-color);
}
/* DESKTOP MEDIA QUERIES */
@media screen and (min-width: 1200px) {
  body {
    max-width: 80%;
    margin: 100px auto;
  }
  .main-header {
    /* max-width: 600px; */
    grid-column: span 5;
    text-align: left;
  }
  .main-header__one,
  .main-header__two {
    margin: 0;
  }
  .main-header__one,
  .main-header__two {
    padding-left: 0;
  }
  header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .sub-header {
    grid-column: span 7;
    margin: 0;
    /* display: grid;
    grid-template-columns: repeat(12, 1fr); */
    position: relative;
  }
  .sub-header1 {
    grid-column: 1 / span 9;
    left: 25px;
  }
  .sub-header2 {
    grid-column: 2 / span 10;
    top: 80px;
    left: 90px;
  }
  .sub-header3 {
    grid-column: 3 / 13;
    top: 160px;
    left: 155px;
  }
  .sub-header1,
  .sub-header2,
  .sub-header3 {
    width: 380px;
    margin: 3px 0;
    /* height: 60px; */
    padding: 20px;
    display: flex;
    align-items: center;
    position: absolute;
  }
  .sub-header p {
    margin-left: 15px;
  }
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 0;
    /* grid-template-rows: repeat(2, 1fr); */
    margin-bottom: 350px;
    position: relative;
  }
  .box {
    grid-column: span 4;
    /* height: 200px; */
    width: 90%;
    line-height: normal;
    margin: 0;
    position: absolute;
  }
  .star-image {
    display: inline;
    text-align: initial;
  }
  .sub-header p {
    text-align: initial;
    display: inline;
  }
  .main-box1 {
    grid-column: 1 / span 4;
    /* grid-row: 1; */
  }
  .main-box2 {
    grid-column: 5 / span 4;
    /* grid-row: 2; */
    top: 30px;
  }
  .main-box3 {
    grid-column: 9 / span 4;
    /* grid-row: 3; */
    /* margin-right: 0; */
    top: 50px;
  }
}
/* ANIMATIONS */
@keyframes slide-top {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-top {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* @keyframes grow {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes grow {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
} */
